<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- cssフォルダー -->
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>CPIC</title>
</head>
<body>

        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm bg-primary">
                <h5 class="my-0 mr-md-auto font-weight-normal  text-white" > CPIC</h5>
                <!-- <nav class="my-2 my-md-0 mr-md-3">
                  <a class="p-2 text-dark" href="#">Features</a>
                  <a class="p-2 text-dark" href="#">Enterprise</a>
                  <a class="p-2 text-dark" href="#">Support</a>
                  <a class="p-2 text-dark" href="#">Pricing</a>
                </nav> -->
                <a class="btn btn-outline-primary mx-3 text-white" href="">ログイン</a>
                <!-- href=""ララベルでいける -->
                <a class="btn btn-outline-primary text-white" href="">登録</a>

              </div>
              
    <!-- header -->
    <div class="header">
        <!-- header左側 -->
        <div class="header-left">
            <span class="name">CPIC</span>
        </div>
        <!-- header右側 -->
        <div class="header-right">
            <div>ログイン</div>
            <div>登録</div>
        </div>
    </div>
     <!-- headerここまで OK-->

     <!-- ここからホームページのメイン画面 -->
     <div class="main">
        <div class="copy-container">
            <h2>最高に『ワクワクする出会い』を</h2>
            <h1>Connect People In Cebu</h1>
            <ul class="meinline">
                <li>セブで『仲間』を見つけよう</li>
                <br>
                <br>
                <br>
                <li>同じ趣味、関心を持った仲間たちとチャットを始めよう</li>
                <li>仲良くなって一緒にイベントを開催しよう</li>
                <li>CPICをはじめよう</li>
            </ul>
            <!-- アカウント作成・ログイン作成 -->

            <!-- 各文の頭の点消す -->
        </div>

        <!-- content画面 -->
        <div class="contents"></div>
            <p>さっそくイベントに参加してみる</p>
            <p>仲間がもうすぐ開催する開催するイベントを見てみよう。</p>









            <!-- CEBU CAPCEBU CAP開催
            金晩だ！華金だ！セブのお酒好き集まれ！美味しい日本食居酒屋で飲みましょう！！あれ？イツキさんやれてなくね？
            ILAND HOPPING
            Laravel勉強会
            ストバス＠MangoStreet
            セブのカメラ好き集合
            カジノ行きたくね？
            セブ留学生でBBQ -->


<!-- footer -->
    <div class="footer">
        <p>CPIC</p>
    </div>
</body>
</html>