ホームページメイン画面
.bg-image{
    height:600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.stay-right {
    position:relative;
}
.row{
    height:100%;
}

.comment1{
  font-size:18px;
}

/* .btn{

} */

.container-fluid section {
    margin: 10px;
    border-radius: 5px;
    background: #F5F0CF;
    padding: 15px;
    display: flex;
  }

  .contents{
    font-size:20px;
  }


  .contents-into h1 {
    color: #E6AC27;
    font-size: 1.5rem;
  }
  .contents-into p {
    margin-top: 10px;
  }

  .card img{
    width:100%;
  }
  .footer{
    font-size: 25px;
    padding-top: 10px;
    /* padding-bottom: 10px; */
    text-align: center;
  }
